{% extends "base.html" %}

{% block content %}
    <h2>Courier Posting</h2>
    <ul>
        <li>{{ CourierListing.itemInfo }}</li>
        <li>{{ CourierListing.startLocation }}</li>
        <li>{{ CourierListing.endLocation }}</li>
        <li>{{ CourierListing.arrivalDate }}</li>
        <li>{{ CourierListing.arrivalTime }}</li>
        <li>{{ contactInfo }}</li>
        <h3>Recommended Couriers<h3>
        {% if recommend %}
        {% for r in recommend %}
                    <li>
                        <a href= "{% url 'customerListingDetail' pk=r.pk %}">
                        <div>
                            {{ r.startLocation }}
                       
                            {{ r.endLocation }}
                        
                            {{ r.arrivalDate }}
                       
                            {{ r.arrivalTime }}
                        </div>
                        </a>
                    </li>
                {% endfor %}
        {% else %}
               No recommendations
        {% endif %}
    </ul>
{% endblock %}
