{% extends "base.html" %}

{% block content %}
    <h2>Job Posting</h2>
    <ul>
        <li>{{ CustomerListing.itemInfo }}</li>
        <li>{{ CustomerListing.startLocation }}</li>
        <li>{{ CustomerListing.endLocation }}</li>
        <li>{{ CustomerListing.arrivalDate }}</li>
        <li>{{ CustomerListing.arrivalTime }}</li>
        <li>{{ contactInfo }}</li>
        
        <h3>Recommended Jobs<h3>
        {% if recommend %}
        {% for r in recommend %}
                    <li>
                        <a href= "{% url 'customerListingDetail' pk=r.pk %}">
                        <div>
                            {{ r.startLocation }}
                       
                            {{ r.endLocation }}
                        
                            {{ r.arrivalDate }}
                       
                            {{ r.arrivalTime }}
                        </div>
                        </a>
                    </li>
                {% endfor %}
        {% else %}
               No recommendations
        {% endif %}

    </ul>
{% endblock %}
