{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}FastTrack Delivery Services{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'style/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'style/css/base.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <!-- Custom Fonts -->
    <link href="{% static 'style/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'style/img/icon.ico' %}" />

</head>

<body>
    
    <!-- Header -->
    {% block header %}{% endblock %}
    
    <!-- About -->
    {% block about %}{% endblock %}

    <!-- Content -->
    <div id = "content">
        {% block content %}{% endblock %}
    </div>
    
    <!-- Login/Register -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row text-center">
                <a href="#" class="btn btn-lg btn-light">Sign up!</a>
                <a href="#" class="btn btn-lg btn-dark">Login</a>
            </div>
        </div>
    </aside>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>FastTrack Delivery Services</strong>
                    </h4>
                    <p>1 Bloor St. West<br>Toronto, ON M2R4T6<br>Canada</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">fasttrack.services@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; FastTrack Delivery Services 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'script/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'script/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>