{% extends "base.html" %}

<body>

    {% block header %}
    <!-- Header -->
    <header id="main_header" class="header">
        <div class="text-vertical-center">
            <h1>FastTrack</h1>
            <h3>Efficient &amp; Convenient</h3>
            <br>
            <a href="#post_trips" class="btn btn-dark btn-lg">Post a Trip</a>
        </div>
    </header>
    {% endblock %}

    {% block content %}    
    <br>
    <section id="post_trips" class="post_trips">
    <div class="container">
        <div class="row">
            <div class = "col-lg-6 col-centered">
                <div id = "courier_post">
                    <h2 style="text-align:center">Couriers</h2>
                    <form method="post" action="">{% csrf_token %}
                        DELIVERY Details:
                        <input type="text" name="itemInfo">
                        <br><br>
                        START Destination:
                        <input type="text" name="startLocation">
                        <br><br>
                        END Destination:
                        <input type="text" name="endLocation">
                        <br><br>                
                        Pickup Date:
                        <input type="date" name="arrivalDate">
                        <br><br>
                        Pickup Time:
                        <input type="time" name="arrivalTime">
                        <br><br>
                        <div class="container">
                            <div class="row search_post_buttons">
                                <input type="submit" value="Post" class="btn btn-lg btn-dark">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    {% endblock %}
    
</body>    