{% extends "base.html" %}
    
<body>

    <!-- Header -->
    {% block header %}
    <header class="header">
        <div class="text-vertical-center" >
            <!-- Form Module-->
            <div class="module form-module">
                <div class="toggle"></div>
                <div class="form" id="login_form">
                    <div class="container">
                    <form method="post" action="/auth/">{% csrf_token %}
                        <label>Username:</label>
                        <input type="text" name="username" placeholder="Username" value="" id="username">
                        <br>
                        <label>Password:</label>
                        <input type="password" name="password" placeholder="Password" value="" id="password">
                        <br>
                        <div class="cta"><a href="/resetpassword/"><h5><u>Forgot your password?</u></h5></a></div>
                        <ul class="list-inline">
                            <li>
                                <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="primarylink"><i class="fa fa-google fa-fw fa-2x"></i>Log in with Google</a>
                            </li>
                            <li>
                                <a href="{% url 'socialauth_begin' 'facebook' %}" class="primarylink"><i class="fa fa-facebook fa-fw fa-2x"></i>Log in with Facebook</a>
                            </li>
                        </ul>
                        <button type="submit" value="Login" class="btn btn-dark btn-lg">Log In</button>
                    </form>
                    </div>
                </div>
            </div>
    </header>
    {% endblock %}
</body>