{% extends "base.html" %}
{% load i18n %}


{% block header %}
<header class="header">
    <div class="text-vertical-center">
        <h2>Forgot your password?</h2>
        <p>Enter the e-mail address linked to your account.</p>
        <p>A password reset link will be e-mailed to you.</p>
        <form action="" method="post">{% csrf_token %}
            <label for="id_email">E-mail address:</label> <input type="email" name="email" id="email" required><br>
                <br><input type="submit" value="Reset Password" class="btn btn-dark btn-lg"/>
        </form>
    </div>
</header>
{% endblock %}