{% extends "base.html" %}

<body>

{% block header %}
    <!-- Header -->
    <header id="main_header" class="header">
        <div class="text-vertical-center">
            <h1>FastTrack</h1>
            <h3>Efficient &amp; Convenient</h3>
            <br>
            <a href="#user_profile" class="btn btn-dark btn-lg">User Profile</a>
        </div>
    </header>
    {% endblock %}

{% block content %} 

    <section id="user_profile" class="user_profile">
        <br><br>
        <h2 style="text-align:center">User Profile</h2>
        <br>
        <div class="container">
            <div class="col-lg-6">
                <div class="row text-right">
                    Username:   
                </div>
                <div class="row text-right">
                    First Name:   
                </div>            
                <div class="row text-right">
                    Last Name:   
                </div>
                <div class="row text-right">
                    E-mail Address:   
                </div>
                <div class="row text-right">
                    Registered As:   
                </div>
                <div class="row text-right">
                    Rating:   
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row text-left">
                    &nbsp; &nbsp; {{ user_profile.username }}
                </div>
                <div class="row text-left">
                    &nbsp; &nbsp; {{ user_profile.first_name }}
                </div>            
                <div class="row text-left">
                    &nbsp; &nbsp; {{ user_profile.last_name }}
                </div>
                <div class="row text-left">
                    &nbsp; &nbsp; {{ user_profile.email }}
                </div>
                <div class="row text-left">
                    &nbsp; &nbsp; {{ user_profile.regAs }}
                </div>
                <div class="row text-left">
                    &nbsp; &nbsp; {{ user_profile.rating }}
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row text-center">
                <a href="/userprofile/" class="btn btn-lg btn-dark">Update Profile</a>
                <a href="/" class="btn btn-lg btn-light">Back</a>
            </div>
        </div>

    <br><br>
    <hr>
    </section>
{% endblock %}
