{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastTrack Register</title>
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">

</head>
<body bgcolor="#D8D8D8">

	<!-- FastTrack heading -->
<div class="FT-title">
  <h1>Register</h1>
</div>

<!-- Form Module-->
<div class="module form-module">
    <div class="toggle">

  </div>
  <div class="form">
    <h2>Create an account</h2>
     <form action="/register/" method="post">{% csrf_token %}
      {{ form }}
      <button type="submit" value="Register">Register</button>
    </form>
  </div>

</div>

</body>
</html>
