{% extends "base.html" %}

<body>

    {% block header %}
    <!-- Header -->
    <header id="main_header" class="header">
        <div class="text-vertical-center">
            <h1>FastTrack</h1>
            <h3>Efficient &amp; Convenient</h3>
            <br>
            <a href="#register" class="btn btn-dark btn-lg">Create an Account</a>
        </div>
    </header>
    {% endblock %}

    {% block content %}    
    <br>
    <section id="register" class="register">
    <div class="container">
        <div class="row">
            <div class = "col-lg-6 col-centered">
                <div id = "create_account">
                    <h2 style="text-align:center">Create an Account</h2>
                    <form method="post" action="/register/">{% csrf_token %}
                        {{form}}
                        <div class="container">
                            <div class="row search_post_buttons">
                                <button type="submit" value="Register" class="btn btn-lg btn-dark">
                                <a href="/" class="btn btn-lg btn-light">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <hr>
    {% endblock %}
</body>
