{% extends "base.html" %}

<body>

    {% block header %}
    <!-- Header -->
    <header id="main_header" class="header">
        <div class="text-vertical-center">
            <h1>FastTrack</h1>
            <h3>Efficient &amp; Convenient</h3>
            <br>
            <a href="#search_trips" class="btn btn-dark btn-lg">Search for Trips</a>
        </div>
    </header>
    {% endblock %}

    {% block content %}    
    <br>
    <section id="search_trips" class="search_trips">
    <div class="container">
        <div class="row">
            <div class = "col-lg-6 col-centered">
                <div id = "customer_search">
                    <h2 style="text-align:center">Couriers</h2>
                     <form method="get" action="results">
                        START Destination:
                        <input type="text" name="startLocation">
                        <br><br>
                        END Destination:
                        <input type="text" name="endLocation">
                        <br><br>                
                        Before:
                        <input type="date" name="beforeDate">
                        <br><br>
                        After:
                        <input type="date" name="afterDate">
                        <br><br>
                        <div class="container">
                            <div class="row search_post_buttons">
                                <input type="submit" value="Search" class="btn btn-lg btn-dark">
                                <a href="/" class="btn btn-lg btn-light">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <hr>
    {% endblock %}
    
</body>    